.card-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.meme-card {
  width: 100%;
}

.meme-card__img-container {
  position: relative;
  width: 100%;
  height: 160px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.meme-card__img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-image: var(--meme-url);
  background-size: 200%;
  filter: blur(50px);
  transform: scale(3);
  border-radius: 0.25rem;
}

.meme-card__img {
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0.25rem;
}

.meme-card__title {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
